@font-face {
  font-family: 'Inter';
  src: url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap);
}

* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
}

main {
  height: 70dvh; /* para las primeras pruebas */
}

/* Blur */

.blur {
  backdrop-filter: blur(10px);
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


.button-container {
  top: 3px;
}

.back-arrow{
  width: 24px;
  height: 24px;
  margin-right: 10px;
  color: black;
}

.btn-back {
  position: absolute;
  top: 3px;
  left: 0;
  background: none;
  border: none;
  color: #007aff; /* O cualquier color que desees para el texto y la flecha */
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
}


.btn-back .header-text {
  font-size: 18px; /* Ajusta el tamaño según necesites */
  color: #000000; /* Ajusta el color del texto según necesites */
}



.btn-next {
  width: 85%;
  height: 50px;
  background-color: #646cff;
  border-radius: 100px;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}