.app {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.feelings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.feelings .feelings-question {
    font-size: 15px;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 5px;
    margin-bottom: 20px;
    text-align: start;
    width: 80%;
    margin-left: 3%;
}


.feelings-tags-box {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
}

.feelings-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    margin: 0 10px;
    width: 100%;
    max-width: 500px;

}

.feeling-tag {
    font-size: 14px;
    color: var(--estado-color);
    border: 1px solid #e3e3e3;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 5px #e3e3e3;
}

.no-selected {
    color: var(--estado-color);
    background-color: #f5f5f5;
    border: 1px solid #f5f3f3;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px #e3e3e3;
}

.feeling-tag.selected {
    color: white;
    background-color: #8d8d8d60;
    border: 0.5px white;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    font-weight: lighter;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.btn-back.text-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
}

.feelings-image {
    margin-top: 15%;
    width: 50%;
    height: auto;
    transition: transform 0.5s ease-in-out;
    padding-top: 100px;
}

.feelings-image-container {
    padding-bottom: 50px;
}

.feelings-state {
    color: var(--estado-color);
    font-size: 18px;
    margin-bottom: 10%;
}

.btn-next {
  width: 90%;
  height: 50px;
  background-color: var(--color-figura);
  border-radius: 1.5rem;
  border: none;
  color: black;
  font-size: o.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: auto;
  margin-bottom: 20px;
}

.max-alert {
    color: #ff2c1d;
    font-weight: bold;
    font-size: 10px;
}