.rastreador-de-emociones {
  font-family: 'Arial', sans-serif;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Aplicar el gradiente radial al fondo de todo el componente */
.rastreador-de-emociones {
  background: radial-gradient(circle at center, var(--color-centro) 20%, var(--color-borde) 70%, rgba(255,255,255,1) 100%);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  color: #333;
}

/* Estilizar botones para que sean transparentes y encajen al lado del título */
header button {
  background: none;
  border: 1px solid transparent;
  color: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

header button:hover {
  border-color: #ddd; /* Opcional: mostrar un borde sutil al pasar el ratón */
}

main {
  padding: 1rem;
  transition: background-color 0.5s;
}

/* Colores de fondo para cada estado emocional */
.Muy-Mal {
  --color-centro: #2732c3;
  --color-borde: #66bbf7; 
}

.Mal {
  --color-centro: #6ECFBC;
  --color-borde: #abfbff;
}

.Normal {
  --color-centro: #f09e38;
  --color-borde: #FEC581;
}

.Bien {
  --color-centro: #e24018;
  --color-borde: #FF7453;
}

.Muy-Bien {
  --color-centro: #bb2f5b;
  --color-borde: #FF80A9;
}

.estado-actual {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #555; /* Cambia este color si es necesario */
}

.deslizador-emocion {
  -webkit-appearance: none;
  width: 100%;
  height: 2rem;
  border-radius: 1rem;
  background: #dfdfdf5c;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}

.deslizador-emocion::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  background: var(--color-borde);
  cursor: pointer;
}

.deslizador-emocion::-moz-range-thumb {
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  background: var(--color-borde);
  cursor: pointer;
}

.boton-siguiente {
  background-color: #f57c00;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 2rem;
}

.boton-siguiente:hover {
  background-color: #FEC581;
}

.etiquetas-emocion {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #000000;
}

.muy-mal, .muy-bien {
  color: #000000;
  font-weight: 200;
}