@font-face {
  font-family: 'Inter';
  src: url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap);
}

*{
  font-family: 'Inter', sans-serif;
}

.rastreador-de-emociones {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Aplicar el gradiente radial al fondo de todo el componente */
.rastreador-de-emociones {
  background: radial-gradient(circle at center, var(--color-centro) 20%, var(--color-borde) 70%, rgba(255,255,255,1) 100%);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  color: #333;
}

main {
  padding: 1rem;
  transition: background-color 0.5s;
}

/* Colores de fondo para cada estado emocional */
.Muy-mal {
  --color-centro: #3843D0;
  --color-borde: #66bbf7; 
}

.Mal {
  --color-centro: #6ECFBC;
  --color-borde: #abfbff;
}

.Normal {
  --color-centro:#FFC466;
  --color-borde: #e39c45;
}

.Bien {
  --color-centro: #FF7453;
  --color-borde: #FF7453;
}

.Muy-bien {
  --color-centro: #FF80A9;
  --color-borde: #FF80A9;
}

.estado-actual {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.deslizador-emocion {
  -webkit-appearance: none;
  width: 100%;
  height: 2rem;
  border-radius: 1rem;
  background: #dfdfdf5c;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}

.deslizador-emocion::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  background: var(--color-borde);
  cursor: pointer;
}

.deslizador-emocion::-moz-range-thumb {
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  background: var(--color-borde);
  cursor: pointer;
}

.etiquetas-emocion {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #000000;
}

.muymal, .muybien {
  color: #000000;
  font-weight: 400;
}

/* Colores de fuente para cada estado emocional */
.muy-mal.estado-actual {
  color: #3843D0;
}

.mal.estado-actual {
  color: #6ECFBC;
}

.normal.estado-actual {
  color: #FFC466;
}

.bien.estado-actual {
  color: #FF7453;
}

.muy-bien.estado-actual {
  color: #FF80A9;
}