/* Establece tu contenedor .reasons para que se centre */

.reasons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.reasons .reasons-question {
    font-size: 15px;
    border-bottom: 1px solid var(--estado-color);
    padding-bottom: 5px;
    margin-bottom: 20px;
    text-align: start;
    width: 90%;
}

.reasons-image {
    margin-top: 15%;
    width: 50%;
    height: auto;
    transition: transform 0.5s ease-in-out;
}


.reasons-state {
    color: var(--estado-color);
    font-size: 16px;
    margin-bottom: 10%;
}

.reasons-tags-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 0 auto;
    width: 350px;
    height: 300px;
}

.reasons-tags {
    width: 350px;
    height: 220px;
    display: flex;
    justify-content: start; /* Asegura que los elementos se centren */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan */
    align-items: flex-start;
    list-style: none; /* Elimina los estilos de lista si se trata de un <ul> */
    padding-top: 20px;
}

.reason-tag {
    font-size: 10px;
    display: flex; /* Establece el display a flex para usar flexbox */
    flex-direction: column; /* Alinea los elementos en columna */
    justify-content: center; /* Centra los elementos verticalmente en la columna */
    align-items: center; /* Centra los elementos horizontalmente */
    padding: 0; /* Ajusta el padding según sea necesario */
    margin: 5px; /* Ajusta el margen para separar los botones */
    width: 77px; /* Ajusta el ancho automáticamente */
    height: 67px; /* Ajusta el alto automáticamente */
    text-align: center; /* Alinea el texto al centro */
    border-radius: 10px; /* Radio del borde para redondear los botones */
    background-color: #f5f5f5; /* Color de fondo para botones no seleccionados */
    box-shadow: 0 0 3px #e3e3e3; /* Sombra alrededor del botón */
    cursor: pointer; /* Cambia el cursor para indicar que es clickeable */
    transition: background-color 0.3s; /* Transición suave para el fondo */
}

.reason-icon {
    width: 38px; /* Tamaño del ícono */
    height: 38px; /* Tamaño del ícono */
}

.reason-text {
    font-size: 10px; /* Tamaño del texto */
    margin: 0;
    padding: 0;
}

.reasons-no-selected {
    display: flex;
    justify-content: center;
    color: #000000;
    background-color: #f5f5f5;
    border: 0.5px solid #f5f5f5;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.reason-tag.selected {
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    color: white;
    font-weight: 600;
    background-color: #13121289;
    border: none;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.btn-back.text-button {
    background: none;
    border: none;
    color: #007aff;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
}

.info.false{
    font-size: 16px;
}

