.dashboard {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  background-color: white; /* Fondo blanco como en la imagen */
  color: #333; /* Texto oscuro para contraste */
}

/* Estilos para la barra lateral */
.lateral-menu {
  position: fixed;
  width: 240px; /* Ancho basado en la imagen */
  height: 100vh;
  background-color: #f4f7fa; /* Color de fondo claro para la barra lateral */
  color: #666; /* Color de texto para elementos de la barra lateral */
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.lateral-menu button {
  /* Estilos base para tus botones */
  padding: 10px;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  /* ... */
}

.lateral-menu button.active {
  font-weight: bold;
  border-left: 4px solid #666666; /* El color que quieras para el borde */
  background-color: #e1e5eb; /* Un fondo suave si deseas */
  padding-left: calc(10px - 4px); /* Ajusta el padding para compensar el borde */
}

/* Logo y navegación */
.lateral-menu img {
  max-width: 100%;
  margin-bottom: 40px; /* Espacio debajo del logo */
}

.lateral-menu nav ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: auto; /* Para empujar cerrar sesión hacia abajo */
}

.lateral-menu nav ul li {
  margin-bottom: 20px; /* Espacio entre elementos de lista */
}

.lateral-menu nav ul li button {
  background: none;
  border: none;
  color: #292929; /* Mismo color que el texto de la barra lateral */
  font-size: 16px;
  text-align: left;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.lateral-menu nav ul li button:hover {
  background-color: #e1e5eb; /* Color de fondo para hover */
}

/* Botón de cerrar sesión */
.lateral-menu .logout-button {
  background: none;
  border: none;
  color: #666666;
  padding: 10px;
  text-align: left;
  cursor: pointer;
}

/* Estilo para el contenedor de gráficos y la información */
.chart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 40px; /* Espaciado interno */
  background-color: white; /* Fondo blanco */
  box-sizing: border-box;
}

/* Estilos para el encabezado del contenedor principal */
.chart-container header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px; /* Espacio debajo del encabezado */
}

.chart-container header .user-info {
  display: flex;
  align-items: center;
}

.chart-container header .user-info .username {
  font-size: 18px;
  color: #666666; /* Color del texto */
  margin-right: 10px;
}